*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.box{
    background: url(./nature.jpg) no-repeat;
    padding: 200px 100px;
    margin: 100px;
    background-size: cover;
    background-position: center;
}

form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}
.row{
    padding-left: 90px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:20px 30px;
    margin-bottom: 20px;
}
label{
    color: #1c093c;
    font-size: 14px;
}
input{
    width: 40%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
}
.active{
    color: #fc0368;
    text-decoration: underline;
    font-weight: bold;
}
.nav-links{
    display: flex;
    align-items: center;
    padding-right: 20px;
    text-transform: uppercase;
}
.nav-links li{
    margin: 0 30px;
}
header{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header-content{
    margin-bottom: 150px;
    color: rgb(255, 124, 124);
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
    margin-top: 10px;
    
}
.line{
    width: 150px;
    height: 4px;
    background: #fc0368;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    
}
.logo {
    font-size: 2rem;
    color: black;
    font-weight: bolder;

  }
 
.body {
    margin: 0 auto;
    margin-top: 9rem;
    width: 90%;
    border-radius: 1rem;
    padding: 20px;
    align-items: center;
    
    
    display: flex;
    min-height: 80vh;
    
    justify-content: center;
    padding-bottom: 5rem;
  }
  
  .home .content {
    text-align: center;
  }
  
  .home .content span {
    font-weight: bolder;
    color: transparent;
   
    font-size: 4vw;
    display: block;
  }
  
  .home .content h3,h1 {
    font-size: 6vw;
    color: #fff;
    text-align: center;
  }
  .btn{
    padding: 8px 15px;
    background: #fc0368;
    border-radius: 20px;
    color: whitesmoke;
    
    
}
  
.find{
    
    background: #fc0368;
    border-radius: 20px;
    color: whitesmoke;
    
    
    
}
  

.ctn{
    padding: 8px 15px;
    background: #fc0368;
    border-radius: 30px;
    color: whitesmoke;
}
.menu-btn{
    position: absolute;
    top:20px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
.center
{
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px; 
}
@media only screen and (max-width:850px)
{
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background:white ;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        
       
    }
    
    .nav-links li{
        margin: 30px auto;
        
    }
}
